.CMS_MediaLibraryModal_root {
  @apply inset-0 w-full h-full;
    max-width: 125lvh;
    max-height: 100lvh;

  & .CMS_MediaLibraryModal_close-button {
    background: var(--background-main);
    border-color: var(--background-light);

    &:hover {
      background: var(--background-light);
    }

    @apply 
    mt-4 mx-5 md:mb-4;
  }
}
